@model ArtProject.Models.Painter

@{
    ViewBag.Title = "Details";
}

<h2>Detail information</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Surname
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
    </dl>
   
    <div class="display-label">
       <h3>The artworks</h3>
    </div>
    <dl>
        @foreach (var item in Model.Pictures)
           {
             <dt>
                 @Html.DisplayFor(modelItem => item.Title)
             </dt>
           }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PainterID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
